
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.dashboard-roK {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.dashboard-roK .header-ptZ {
  margin-bottom: 0.01rem;
  box-sizing: border-box;
  padding-right: 5rem;
  width: 100%;
  height: 9.39rem;
  display: flex;
  align-items: center;
  background-color: #164863;
  box-shadow: 0 0.7rem 0.68rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.dashboard-roK .header-ptZ .auto-group-uwxt-Xpu {
  margin-right: 3.1rem;
  box-sizing: border-box;
  padding: 3.585rem 3.3rem 3.19rem 3.6rem;
  height: 100%;
  background-color: #427d9d;
  flex-shrink: 0;
}
.dashboard-roK .header-ptZ .auto-group-uwxt-Xpu .icon-reorder-three-outline-PcD {
  width: 3.3rem;
  height: 2.6147rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
}
.dashboard-roK .header-ptZ .cafe-tendabiru-QnD {
  margin: 1.722rem 82.5rem 0rem 0rem;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.3;
  color: #ffffff;
  font-family: Kufam, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.dashboard-roK .header-ptZ .icon-profile-circle-1n1 {
  margin-bottom: 0.3651rem;
  width: 4.6rem;
  height: 4.4249rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-roK .auto-group-28dp-ztq {
  box-sizing: border-box;
  padding: 3.9rem 12.3rem 4rem 12.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-1-bg-bYV.png');
  flex-shrink: 0;
}
.dashboard-roK .auto-group-28dp-ztq .summary-fzy {
  margin-bottom: 3.9rem;
  width: 100%;
  height: 12.4rem;
  position: relative;
  background-color: rgba(155, 190, 200, 0.5);
  border-radius: 1.8rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.dashboard-roK .auto-group-28dp-ztq .summary-fzy .rectangle-9-kFj {
  width: 19.6rem;
  height: 5.7rem;
  position: absolute;
  left: 2.5rem;
  top: 3.4rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffd47c;
  border-radius: 1.8rem;
}
.dashboard-roK .auto-group-28dp-ztq .summary-fzy .rectangle-10-NH7 {
  width: 19.6rem;
  height: 5.7rem;
  position: absolute;
  left: 28.7rem;
  top: 3.4rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ff6969;
  border-radius: 1.8rem;
}
.dashboard-roK .auto-group-28dp-ztq .summary-fzy .rectangle-11-dD3 {
  width: 19.6rem;
  height: 5.7rem;
  position: absolute;
  left: 54.9rem;
  top: 3.4rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #c70039;
  border-radius: 1.8rem;
}
.dashboard-roK .auto-group-28dp-ztq .summary-fzy .rectangle-12-HYV {
  width: 19.6rem;
  height: 5.7rem;
  position: absolute;
  left: 81.1rem;
  top: 3.4rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #141e46;
  border-radius: 1.8rem;
}
.dashboard-roK .auto-group-28dp-ztq .summary-fzy .icon-ingredients-kitchen-9qb {
  width: 83.1rem;
  height: 3.5073rem;
  position: absolute;
  left: 3.7rem;
  top: 4.4rem;
  display: flex;
  column-gap: 22.9rem;
  align-items: center;
}
.dashboard-roK .auto-group-28dp-ztq .summary-fzy .icon-ingredients-kitchen-9qb .vector-zrD {
  width: 3.6rem;
  height: 3.5073rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-roK .auto-group-28dp-ztq .summary-fzy .icon-ingredients-kitchen-9qb .vector-X5T {
  width: 3.6rem;
  height: 3.5073rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-roK .auto-group-28dp-ztq .summary-fzy .icon-ingredients-kitchen-9qb .vector-2nu {
  width: 3.6rem;
  height: 3.5073rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-roK .auto-group-28dp-ztq .summary-fzy .icon-ingredients-kitchen-9qb .vector-kiu {
  width: 3.6rem;
  height: 3.5073rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.dashboard-roK .auto-group-28dp-ztq .summary-fzy .total-poducts-gcZ {
  width: 9.1rem;
  height: 2.1rem;
  position: absolute;
  left: 8rem;
  top: 4.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.38;
  color: #ffffff;
  font-family: Alata, 'Source Sans Pro';
  white-space: nowrap;
}
.dashboard-roK .auto-group-28dp-ztq .summary-fzy .item-18-MCu {
  width: 3.2rem;
  height: 3.1rem;
  position: absolute;
  left: 15.1rem;
  top: 4.7rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #ffffff;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
}
.dashboard-roK .auto-group-28dp-ztq .summary-fzy .item-04-CjK {
  width: 3.2rem;
  height: 3.1rem;
  position: absolute;
  left: 42.1rem;
  top: 4.7rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #ffffff;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
}
.dashboard-roK .auto-group-28dp-ztq .summary-fzy .item-00-f77 {
  width: 3.2rem;
  height: 3.1rem;
  position: absolute;
  left: 70.1rem;
  top: 4.7rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #ffffff;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
}
.dashboard-roK .auto-group-28dp-ztq .summary-fzy .item-09-u1T {
  width: 3.2rem;
  height: 3.1rem;
  position: absolute;
  left: 96.1rem;
  top: 4.7rem;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.1825;
  color: #ffffff;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
}
.dashboard-roK .auto-group-28dp-ztq .summary-fzy .low-stock-poducts-Axy {
  width: 6.6rem;
  height: 4.2rem;
  position: absolute;
  left: 34.5rem;
  top: 4.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.38;
  color: #ffffff;
  font-family: Alata, 'Source Sans Pro';
}
.dashboard-roK .auto-group-28dp-ztq .summary-fzy .out-of-stock-poducts-TBP {
  width: 8.8rem;
  height: 4.2rem;
  position: absolute;
  left: 60.9rem;
  top: 4.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.38;
  color: #ffffff;
  font-family: Alata, 'Source Sans Pro';
}
.dashboard-roK .auto-group-28dp-ztq .summary-fzy .most-stock-poducts-MXf {
  width: 7.4rem;
  height: 4.2rem;
  position: absolute;
  left: 87.1rem;
  top: 4.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.38;
  color: #ffffff;
  font-family: Alata, 'Source Sans Pro';
}
.dashboard-roK .auto-group-28dp-ztq .auto-group-4tqm-CoB {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.dashboard-roK .auto-group-28dp-ztq .auto-group-4tqm-CoB .rectangle-13-8wj {
  margin-right: 6.7rem;
  width: 52.3rem;
  height: 49.6rem;
  background-color: rgba(155, 190, 200, 0.5);
  border-radius: 1.3rem;
  flex-shrink: 0;
}
.dashboard-roK .auto-group-28dp-ztq .auto-group-4tqm-CoB .rectangle-14-3oo {
  width: 44.4rem;
  height: 25.3rem;
  background-color: rgba(155, 190, 200, 0.5);
  border-radius: 1.3rem;
  flex-shrink: 0;
}
